.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left{
    display: flex;
    gap: 20px;
}
.mid{
    display: flex;

}
.vertical{
    display: flex;
    flex-direction: column;
}
.reight{
    gap: 20px;
}
.search{
    width: 515px;
    height: 40px;
    border-radius: 2rem;
}
.tags{
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    border-top: 1px solid #ccc;
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}
.dark{
    background-color: black;
    color: white;
}